<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="barra">
            <div class="logo">
                <img src="static/images/logo-mercado-liebre.svg" />
            </div>

            <div class="search" action="#" method="GET ">

                <div class="barra-buscar ">Buscar productos, marcas</div>
                <div class="submit "><i class="fas fa-search "></i></div>
            </div>

            <div class="cuotas ">
                <i class="fas fa-hand-holding-usd "></i>
                <p>Compra en cuotas y tarjeta de credito</p>
            </div>


        </div>


        <nav>

            <ul>
                <li><a href="/ ">Ofertas</a></li>
                <li><a href="/ ">Tiendas Oficiales</a></li>
                <li><a href="/ ">Vender</a></li>
                <li><a href="/ ">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register ">Crea tu cuenta</a><i class="far fa-address-card "></i></li>
                <li><a href="/login ">Ingresá</a><i class="fas fa-sign-in-alt "></i></li>
                <li><a href=" ">Mis Compras</a><i class="fas fa-shopping-basket "></i></li>
            </ul>

        </nav>
        <div class="burger-menu ">
            <i class="fas fa-bars "></i>
        </div>


    </header>

    <section class="banner ">
        <img src="static/images/img-home-banner.jpg " alt="Banner " style="width: 100%; ">
    </section>

    <main>
        <form action="">
            <div class="datosUsuarios login">
                <input type="text" placeholder="Nombre de usuario">
                <br/>
                <input type="text" placeholder="contraseña">
                <br/>

                <button class="enviar">Enviar</button>
            </div>


            <form></form>

    </main>
    <footer>
        <div class="promo">
            <section>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>


        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

        </section>



    </footer>

</body>

</html>